*{
    margin: 0;
}

.section-1, .section-2{
    background-color: #1F2937
}

#nav-bar{
    display: flex;
    color: #F9FAF8;
    max-width: 67%;
    margin: auto
 }
 
 
 .header-left{
    list-style-type: none;
    margin-right: auto;
    font-size: 24px;
    color: #F9FAF8;
 }
 
 
 .header-right{
    display: flex;
    gap: 20px;
    list-style-type: none;
    margin-right: 10px;
    align-items: center;;
    color: #E5E7EB;
    font-size: 18px
 }
 
 
 .section-2{
    display: flex;
    max-height: 300px;
    justify-content: center;
    padding: 40px 0;
    color: #F9FAF8
 }
 
 .section-2 div p{
   width: 90%;
   margin: 10px 0
 }
 
 .section-2 div{
    max-width: 30%;
    padding: 20px;
 }

 div h2{
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
 }

 
 .section-2 img{
    max-width: 40%;
 }
 
 button{
    background-color: #3882F6;
    border: none;
    border-radius: 5px;
    color: #F9FAF8;
    padding: 5px 10px
 }

 .section-3{
    max-width: 60%;
    margin: auto;
 }

 .section-3 .image-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
 }

 .image-container div{
    width: 180px;
    height: 200px;
    padding: 40px 0;
 }

 .image-container img{
    width: 100%;
    height: 80%;
    border: 2px #3882F6 solid;
    border-radius: 10px
 }

 .section-3 h3{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
    text-align: center;
    padding: 40px 0
 }

 .section-4{
    background-color: #e5e7eb;
    color: #1f2937;
    padding: 140px 0
 }
 
 .section-4 p{
    margin: auto;
    font-style: italic;
    font-size: 26px;
    width: 50%;
 }

 .quotee{
   font-weight: bold;
   text-align: end
 }

 .section-5-container{
   background-color: #3882F6;
   width: 50%;
   margin: 50px auto;
   border-radius: 5px;
   /* text-align:center; */
   padding: 20px;
   color: #F9FAF8;
   display: flex
 }

.text-container{
   text-align: left;
   padding-left: 70px
}

.text-container h4{
   font-weight: bold;
}


 .button-container{
   margin: auto
 }

 .button-container button{
   border: 1px #F9FAF8 solid;
   border-radius: 5px
 }

 .section-6{
   background-color:#1F2937;
   color:#E5E7EB;
   text-align:center;
   padding: 20px
 }